#header{
    background: darkgoldenrod;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
#summary{
    position:absolute;
    bottom:-30%;
    text-align: center;
    width:500px;
    right:32%;
    font-size: 20px;
    font-family: cursive;
}

#bottomheader{
    
    position:absolute;
    bottom:-50%;
    width:100%;
    height:10px;
    background: darkgoldenrod;
    text-align: center;
    font-size: 10px;
    
}

#title{
    color:green;
    font-size: 38px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top:30%;
    left:45%;
    transform:translate(-30%,-30%);
    display: flex;
    flex-wrap:wrap;


}
#title1{
    color:green;
    font-size: 32px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top:38%;
    left:45%;
    transform:translate(-30%,-30%);
    display: flex;
    flex-wrap:wrap;


}

.title2{
    color: darkred;
    font-size:26px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-30%);
    display: flex;
    flex-wrap:wrap;
}

#foodpics{
    display:flex;
    flex-direction: row; 
    align-items:flex-end;
    justify-content: space-around;
    position:relative;
    left: 30px;
    top:300px;


}

#foodpics img{
    border-radius:70%;
}
body{
    background-color: rgba(245, 245, 228, 0.568);
}
@keyframes papel{
    from{
        transform: translateY(-100px); 
    }
    to{
        transform:translateY(5px);
    }
}

#pic{
    position:absolute;
    top:100px;
    right:30px;
    bottom:50px;
    animation-name: papel;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

#pic2{
    position:absolute;
    top:100px;
    left:30px;
    bottom:50px;
    animation-name: papel;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

#toprow {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    
}
.main{
    display: inline-block;
    margin: 18px;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 0.45s;
}
.main:hover{
    opacity:1;
    transition: 0.45s;
    transform: rotate(180deg) scale(1.5);
}

#food1, #food2:hover{
    cursor: pointer;
}

#view:hover{
    font-size: 18px;
}


.hidden {
    display: none;
}

#box-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(209, 182, 182, 0.5);
}

#box-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(161, 197, 154, 0.5);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
.box img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.box .caption {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background:rgba(245, 245, 228, 0.568);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}




@media screen and (min-width:600px){
    #toprow{
        display:block;
    }
}

@media screen and (max-width:1000px){
    #title{
        display:block;
        font-size:34px;
        top:26%;
    }
    #title1{
        display:block;
        font-size:29px;
        left:50%;
    }
    .title2{
        display:block;
        font-size:20px;
        top:45%;
        left:55%;
    }
    #toprow{
        display:none;
    }
    #foodpics img{
        height:250px;
        width:250px;
    }
    #summary{
        position:absolute;
        bottom:-30%;
        text-align: center;
        width:500px;
        right:8%;
    }


}
